[Desktop Entry]
Type=Application
Name=Discord
Exec=/home/pashbyl/apps/Discord/Discord
Icon=/home/pashbyl/apps/Discord/discord.png
Terminal=false
Categories=Network;InstantMessaging;Chat;
