[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/colors/start/lightline"]
	path = .vim/pack/colors/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/plugins/start/nerdtree-git-plugin"]
	path = .vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule ".vim/pack/plugins/start/indentLine"]
	path = .vim/pack/plugins/start/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule ".vim/pack/syntax/start/ale"]
	path = .vim/pack/syntax/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/pack/syntax/start/YouCompleteMe"]
	path = .vim/pack/syntax/start/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule ".vim/pack/colors/start/molokai"]
	path = .vim/pack/colors/start/molokai
	url = git@github.com:tomasr/molokai.git
[submodule ".vim/pack/colors/start/gruvbox"]
	path = .vim/pack/colors/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".vim/pack/syntax/opt/vim-flake8"]
	path = .vim/pack/syntax/opt/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux.git
