[Unit]
Description=Run battery-monitor every 30 seconds

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target
